@charset "UTF-8";


.container{
    max-width: 100vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    gap: 1rem 0;
}



.item img{
    height: 140px;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 16px;/*角をまるめる*/
}

.shop{
    font-size: 0.8rem;
}

.tag{
    font-size: 0.7rem;
}
