@charset "UTF-8";

html{
    font-size: 100%;
}

body{
    font-family: "Klee One", cursive;
    font-weight: bold;
    font-style: normal;
    line-height: 1.7;
    color: #F9D89A;
    background-color: #004C52;
}

h2{
    font-weight: normal;
}

h3{
    font-weight: normal;
}

a{
    text-decoration: none;
}


img{
    max-width: 100%;
}

.margin-group{
    margin-bottom: 72px;
}

.margin-other{
    margin-bottom: 108px;
}

.font-en{
    font-family: "Source Serif 4", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

.top-img{
    background-image: url(img/piyo-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 768px;
    display: flex;
    align-items: flex-end;
}

.title{
    background-color: #F9D89A;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 270px;
}

.logo{
    flex: 1;
    width: 232px;
    display: grid;
    place-items: center;
}

.top-text{
    flex: 1;
    background-color: #004C52;
    font-size: 4rem;
    width: 100%;
    display: grid;
    place-items: center;
}
.top-text a{
    color: #F9D89A;
}

#portfolio{
    font-size: 3rem;
    color: #F9D89A;
    text-align: center;
}

ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.menu{
    font-size: 2rem;
    color: #F9D89A;
    transition: .5s;
}

.menu:hover{
    text-decoration: underline;
}

.web-fream{
    background-color: #831351;
}

.web-fream h2{
    font-size: 3rem;
    text-align: center;
}

.web-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    color: #004C52;
}

.web-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F9D89A;
}

.portfolio-img{
    width: 100vw;
    height: 297px;
    object-fit: cover;
    object-position: center;
}


.portfolio-title{
    font-size: 1.5rem;
    text-align: center;
    font-family: "Zen Antique", serif;
    font-style: normal;
    width: 100%;
}

.portfolio-text{
    font-size: 1rem;
    text-align: justify;
    padding: 2em 5em;
    background-color: #F9D89A;
}

.portfolio-btn{
    display: inline-block;
    font-size: 1.3rem;
    background-color: #004C52;
    color: #F9D89A;
    padding: 0.3em 1em;
    margin-bottom: 1rem;
    transition: .3s;
}

.portfolio-btn:hover{
    background-color: #139ba5;
    color: #f8e7c8;
}

.banner-fream h2{
    font-size: 3rem;
    text-align: center;
}

.banner-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.baner-item-inst{
    width: 100vw;
}

footer{
    background-color: #831351;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer h1{
    padding: 20px 0 40px 0;
    width: 120px;
}


@media (min-width: 800px){

    .margin-other{
        margin-bottom: 144px;
    }


    .top-img{
        background-image: url(img/piyo.jpg);
        justify-content: flex-end;
        align-items: center;
    }

    .title{
        width: 587px;
        height: 403px;
    }

    .logo{
        width: 344px;
    }

    .top-text{
    font-size: 6rem;
    }

    #portfolio{
    font-size: 5rem;
    }

    .web-fream h2{
    font-size: 4rem;
    }

    .web-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    }

    .web-item{
        width: 30vw;
        margin: 1rem;
    }

    .portfolio-img{
    width: 432px;
    height: 297px;
    }



.portfolio-title{
    font-size: 1.5rem;
    text-align: center;
    font-family: "Zen Antique", serif;
    font-style: normal;
    width: 100%;
}

.portfolio-text{
    font-size: 1rem;
    text-align: justify;
    padding: 2em 5em;
}



.banner-fream h2{
    font-size: 4rem;
}

.banner-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
}

.baner-item-inst{
    width: 45vw;
    margin: 1rem;
}

footer h1{
    padding: 40px 0 80px 0;
    width: 240px;
}

.menu{
    font-size: 3rem;
}


}
